body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  background-color: #F8F8FD;
}

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

a {
  &, &:hover {
    text-decoration: none;
    color: inherit;
  }
}