<template>
  <div class="component-tab">
    <div class="component-tab__select">{{ name }}</div>

    <slot
      v-show="activeTab === name"
      @ss="setTabName"
    ></slot>
  </div>
</template>

<script>
export default {
  name: 'Tab',
  props: [
    'activeTab',
  ],
  data() {
    return {
      name: null,
    }
  },
  methods: {
    setTabName() {
      console.log('sjsjs')
      // this.name = name;
    },
  },
  mounted() {
    console.log('1')
  },
};
</script>

<style scoped>
</style>