<template>
  <div class="component-tabs">
    <slot
      :active-tab="activeTab"
    ></slot>
  </div>
</template>

<script>
export default {
  name: 'Tabs',
  props: [
    'activeTab',
  ],
  data() {
    return {
    }
  },
  methods: {
  },
};
</script>

<style scoped>
</style>