<template>
  <div class="component-modal">

  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Modal',
  props: [],
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    ...mapGetters([
    ]),
  },
};
</script>

<style scoped>
</style>