<template>
  <div class="component-document">
    <div class="component-document__header">
      <div class="component-document__header__item component-document__header__info">
        <div class="component-document__header__info__item">Document #{{ document.id }}</div>
        <div class="component-document__header__info__item">Document #{{ document.status }}</div>
      </div>

      <div class="component-document__header__item component-document__header__actions">
        <button class="button" type="submit">Save</button>
        <button class="button" type="button">Delete</button>
      </div>
    </div>

    <div class="component-document__tabs">
      <tabs>
        <tab v-slot="scope">
          <main-tab
              v-if="document.nested"
              :nested="document.nested"
          ></main-tab>
        </tab>

        <tab>
          <table-tab
              v-if="document.table"
              :table="document.table"
          ></table-tab>
        </tab>
      </tabs>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Tabs from '../Tabs/Tabs';
import Tab from '../Tabs/Tab';
import MainTab from './MainTab';
import TableTab from './TableTab';

export default {
  name: 'Document',
  components: {
    Tabs,
    Tab,
    MainTab,
    TableTab,
  },
  data() {
    return {
    }
  },
  methods: {
  },
  computed: {
    ...mapGetters([
      'document',
    ]),
  },
};
</script>

<style scoped>
</style>