<template>
  <div class="component-main-tab">
asd
  </div>
</template>

<script>
export default {
  name: 'MainTab',
  props: [
      'nested',
  ],
  data() {
    return {
      name: 'Main',
    }
  },
  methods: {
  },
  mounted() {
    console.log('2')
    this.$root.$emit('ss');
    this.$emit('ss');
    this.$parent.$emit('ss');
  },
};
</script>

<style scoped>
</style>