<template>
  <div class="component-table-tab">

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { ServerTable, ClientTable, Event } from 'vue-tables-2';

export default {
  name: 'TableTab',
  props: [
    'table',
  ],
  data() {
    return {
      name: 'Table',
    }
  },
  methods: {
  },
  computed: {
    ...mapGetters([
    ]),
  },
};
</script>

<style scoped>
</style>